@import "tailwindcss";
@import "../shared/styles/variables.css";

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-surface-active: var(--surface-active);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-disabled: var(--text-disabled);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-primary-soft: var(--primary-soft);

  --color-success: var(--success);
  --color-success-hover: var(--success-hover);
  --color-success-soft: var(--success-soft);

  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);
  --color-warning-soft: var(--warning-soft);

  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);
  --color-danger-soft: var(--danger-soft);
}

@media (prefers-color-scheme: dark) {}


@layer base {
  input[type="number"] {
    appearance: textfield;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--border-hover);
  }

}

@layer components{
  .ui-btn {
    @apply inline-flex items-center justify-center gap-2 rounded-xl border border-border
      bg-surface px-5 py-2 text-sm font-medium text-text-primary
      transition-colors duration-300 ease-in-out cursor-pointer
      hover:bg-surface-hover hover:border-border-hover
      active:bg-surface-active
      focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary/50
      disabled:pointer-events-none disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .ui-btn-primary {
    @apply border-transparent bg-primary text-white
      hover:bg-primary-hover active:bg-primary-active
      focus-visible:ring-primary/60;
  }
  .ui-input {
    @apply w-full rounded-xl border border-border bg-surface px-4 py-2 text-sm text-text-primary
      placeholder:text-text-muted
      transition-colors duration-300 ease-in-out
      hover:border-border-hover
      focus:outline-none focus:border-primary focus:ring-2 focus:ring-primary/30
      disabled:opacity-50 disabled:cursor-not-allowed disabled:bg-surface-active;
  }
}